
body {
	background-image: url("../import/worldwideweb.png");
	background-size: 300px;
}

#conteneur {
	width: 1000px;
	margin: auto;
	margin-top: 150px;
	background-color: rgb(158, 158, 158);
	padding: 40px;
}

h1 {
	color: black;
	font-size: 3em;
	text-transform: uppercase;
	padding: 1em;
}

h2 {
	font-size: 2em;
	color: black;
}

p {
	font-family: courier;
	color: black;
}

a {
	color: beige;
}

img {
	padding-top: 3em;
	padding-bottom: 3em;
}

.portrait-section {
	display: flex;
	align-items: flex-end;
	gap: 20px;
}

.portrait {
	width: 300px;
}

.portrait:hover {
	filter: grayscale(100%);
}

.portrait-caption {
	color: black;
	font-family: courier;
	margin-bottom: 50px;
}

.image-wide {
	display: block;
	margin: auto;
	cursor: zoom-in;
	width: 800px;
}

.caption-wide {
	width: 800px;
	margin: auto;
}

.stamp {
	display: block;
	margin: auto;
	cursor: pointer;
	height: 300px;
	width: auto;
}

.caption-stamp {
	width: 300px;
	margin: auto;
}
