
body {
	background-image: url("../import/worldwideweb.png");
	background-size: 300px;
}

#conteneur {
	width: 1000px;
	margin: auto;
	margin-top: 150px;
	background-color: rgb(240, 240, 240);
	padding: 150px;
	padding-top: 50px;
}

h1 {
	color: black;
	font-size: 3em;
	text-transform: uppercase;
	padding: 1em;
	text-align: center;
	padding-top: 0px;
}

h2 {
	font-size: 2em;
	color: black;
	width: 800px;
	margin: auto;
	padding-top: 40px;
}

p {
	font-family: courier;
	color: black;
	width: 800px;
	margin: auto;
	text-align: justify;
}

a {
	color: rgb(39, 65, 106);
}

img {
	padding-top: 3em;
	padding-bottom: 3em;
}

.portrait-section {
	width: 800px;
	margin: auto;
}

.portrait {
	display: block;
	width: 800px;
}

.portrait:hover {
	filter: grayscale(100%);
}

.portrait-caption {
	color: black;
	font-family: courier;
}

.image-wide {
	display: block;
	margin: auto;
	cursor: zoom-in;
	width: 800px;
}

.caption-wide {
	width: 800px;
	margin: auto;
}

.stamp {
	display: block;
	margin: auto;
	cursor: pointer;
	height: 250px;
	width: auto;
}

.caption-stamp {
	width: 390px;
	margin: auto;
}
